
.rotate-animation-next {
    animation: spin 0.4s ease-in-out;
}

.rotate-animation-prev {
    animation: spin-reverse 0.4s ease-in-out;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
        opacity: 0.5;
    }
    to {
        transform: rotate(360deg);
        opacity: 1;
    }
}

@keyframes spin-reverse {
    from {
        transform: rotate(360deg);
        opacity: 0.5;
    }
    to {
        transform: rotate(0deg);
        opacity: 1;
    }
}
