/* You can add global styles to this file, and also import other style files */
@use "tailwindcss";

/* Fanta Laranja */
.bg-fanta-laranja {
    background: linear-gradient(to bottom left, #fa8000, #272c94);
}

/* Fanta Uva */
.bg-fanta-uva {
    background: linear-gradient(to bottom left, #9e1fa0, #272c94);
}

/* Fanta guarana */
.bg-fanta-guarana {
    background: linear-gradient(to bottom left, #41c122, #00602b);
}

/* Fanta Abacaxi */
.bg-fanta-morango {
    background: linear-gradient(to bottom left, #ff5656, #800a0a);
}